<html>
  <head>
    <title>Hesap Onay E-Postası</title>
  </head>
  <body>
    <div>

      <div style="background-color: #f2f2f2; padding: 20px;">
        <h1 style="color: #333;">Email Adresini Onayla</h1>
        <p style="color: #666;">Aramıza Hoş Geldin...,</p>
        <p style="color: #666;">Hizmetimize kaydolduğunuz için teşekkür ederiz.
          Kaydınızı tamamlamak için lütfen aşağıdaki bağlantıya tıklayarak
          e-posta adresinizi doğrulayın:</p>
        <a
          href="{{verificationLink}}"
          style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;"
        >Email Adresini Onayla</a>
        <p style="color: #666;">Eğer hizmetimize kayıt olduysanız, lütfen bu
          e-postayı görmezden gelin.</p>
        <p style="color: #666;">Saygılarımızla,</p>
        <p style="color: #666;">TaskPeer Geliştirici Ekibi</p>
      </div>
    </div>
  </body>
</html>