<html>
  <head>
    <title>Şifre Sıfırlama Talebi</title>
  </head>
  <body>
    <div>

      <div style="background-color: #f2f2f2; padding: 20px;">
        <h1 style="color: #333;">Şifre Sıfırlama</h1>
        <p style="color: #666;">Şifre Sıfırlama Talebiniz Alındı</p>
        <p style="color: #666;">Şifre sıfırlama talebiniz alındı. Şifrenizi
          sıfırlamak için lütfen aşağıdaki bağlantıya tıklayın:</p>

        <p>{{token}}</p>
        <a
          href="/{{token}}"
          style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;"
        >Şifre Sıfırlama</a>
        <p style="color: #666;">Eğer hizmetimize kayıt olduysanız, lütfen bu
          e-postayı görmezden gelin.</p>
        <p style="color: #666;">Saygılarımızla,</p>
        <p style="color: #666;">TaskPeer Geliştirici Ekibi</p>
      </div>
    </div>
  </body>
</html>