<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskPeer - Günlük İş Yönetimi</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f0f0f0; } .container { max-width: 1200px; margin: 0
      auto; padding: 20px; } header { background-color: #007bff; color: #fff;
      padding: 20px; text-align: center; } h1 { margin: 0; } .features {
      display: flex; justify-content: space-around; margin-top: 50px; flex-wrap:
      wrap; } .feature { width: 30%; background-color: #fff; padding: 20px;
      border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); margin-bottom:
      20px; } .feature h2 { margin-top: 0; } .feature p { color: #666; } footer
      { background-color: #333; color: #fff; text-align: center; padding: 20px;
      position: relative; bottom: 0; left: 0; width: 100%; } .about, .contact {
      margin-top: 50px; /* Hakkımızda ve İletişim bölümleri arasındaki boşluğu
      ayarlar */ }
    </style>
  </head>
  <body>

    <header>
      <h1>TaskPeer - Günlük İş Yönetimi</h1>
      <p>Gelişimini takip etmek için doğru yerdesiniz!</p>
    </header>

    <div class="container">
      <div class="features">
        <div class="feature">
          <h2>Kolay Kullanım</h2>
          <img
            width="300px"
            src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTA5ZWFxd3F4cWFqNXZpa2Nsc3dyMnFjNHNteDB5bndxM3oxYWhjdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Rl9Yqavfj2Ula/giphy.gif"
            alt="Kolay Kullanım"
          />
          <p>TaskPeer, günlük işlerinizi kolayca kaydetmenize ve yönetmenize
            olanak tanır. Kullanıcı dostu arayüzü sayesinde hızlıca işinize
            odaklanabilirsiniz.</p>
        </div>
        <div class="feature">
          <h2>Gelişim Takibi</h2>
          <img
            width="300px"
            src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzllOGo5NzFrMHk1cTVjbTg4YmVxdndibmV0dGdudHM5aWpkN3FnYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT5LMvCKqA6iIU1464/giphy.gif"
            alt="Gelişim Takibi"
          />
          <p>Her gün yaptığınız işleri kaydederek ilerlemenizi takip edin.
            Görevlerinizi tamamladıkça gelişiminizi gözlemleyin ve motive kalın.</p>
        </div>
        <div class="feature">
          <h2>Esneklik</h2>
          <img
            width="300px"
            src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZXFkZ3FocnN2ODF1dnQybXNud2RiZ2wzdGdrdmt4MmF6anQ0NWNiaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/LTkvATEzmdMbtC8Tkj/giphy.gif"
            alt="Esneklik"
          />
          <p>TaskPeer, kişisel ve iş gereksinimlerinize uyacak şekilde esneklik
            sunar. İstediğiniz zaman işlerinizi düzenleyin ve özelleştirin.</p>
        </div>
      </div>
      <div class="about">
        <h2>Hakkımızda</h2>
        <p>TaskPeer, günlük işlerinizi kolayca yönetebileceğiniz bir task
          yönetim uygulamasıdır. Amacımız kullanıcıların işlerini
          düzenlemelerine ve gelişimlerini takip etmelerine yardımcı olmaktır.</p>
      </div>

      <div class="contact">
        <h2>İletişim</h2>
        <p>İletişim için bize e-posta yoluyla ulaşabilirsiniz: info@taskpeer.com</p>
      </div>
    </div>

    <footer>
      <p>&copy; 2024 TaskPeer - Tüm Hakları Saklıdır.</p>
    </footer>

  </body>
</html>