<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Peer - Şifre Sıfırlama</title>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      /* Genel Stiller */ body, html { margin: 0; padding: 0; font-family:
      Arial, sans-serif; } .container { max-width: 600px; margin: 0 auto;
      padding: 20px; } header { text-align: center; margin-bottom: 20px; }
      header h1 { font-size: 32px; color: #333; margin: 5px 0; } header p {
      font-size: 18px; color: #666; } .reset-password { background-color:
      #f9f9f9; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,
      0, 0, 0.1); } .form-group { margin-bottom: 15px; } label { display: block;
      margin-bottom: 5px; font-weight: bold; } input[type="email"],
      input[type="password"], button[type="submit"] { width: 100%; padding:
      10px; border-radius: 5px; } button[type="submit"] { background-color:
      #4caf50; color: #fff; border: none; cursor: pointer; font-size: 16px; }
      button[type="submit"]:hover { background-color: #45a049; } .back-to-login
      { margin-top: 15px; text-align: center; } .back-to-login a { color:
      #007bff; text-decoration: none; } .back-to-login a:hover {
      text-decoration: underline; } footer { margin-top: 30px; text-align:
      center; color: #666; } /* Responsive Stiller */ @media only screen and
      (max-width: 768px) { .container { padding: 10px; } header h1 { font-size:
      28px; } header p { font-size: 16px; } .reset-password { padding: 15px; }
      input[type="email"], input[type="password"], button[type="submit"] {
      padding: 8px; } } @media only screen and (max-width: 480px) { header h1 {
      font-size: 24px; } header p { font-size: 14px; } }

    </style>
    <!-- Stil dosyası bağlantısı -->
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Task Peer</h1>
        <p>"Karma Yönet, Başarıya Odaklan"</p>
      </header>
      <main>
        <div class="reset-password">
          <h2>Şifre Sıfırlama</h2>
          <form action="/user/api/auth/change-password" method="POST">

            <div class="form-group">
              <label for="newPassword">Yeni Şifre:</label>
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                required
              />
            </div>
            <div class="form-group">
              <label for="confirm-password">Şifreyi Onayla:</label>
              <input
                type="password"
                id="confirm-password"
                name="confirm-password"
                required
              />
            </div>
            <button id="submit_password" type="submit">Şifreyi Sıfırla</button>
          </form>

          <script>

           
            document.getElementById('submit_password').addEventListener('click', async(event)=> {
              event.preventDefault();
              var newPassword = document.getElementById('newPassword').value;
              var confirmPassword = document.getElementById('confirm-password').value;
              
              if (newPassword !== confirmPassword) {
                alert('Şifreler eşleşmiyor. Lütfen tekrar deneyin.');
              } else {
                // Şifreler eşleşti, formu gönder
           
     await fetch('/user/api/auth/change-password', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                newPassword: newPassword,
                confirmPassword: confirmPassword,
                token: '{{token}}',
              }),
            })
                event.target.closest('form').submit();
              }
            });
          </script>
      </main>
      <footer>
        <p>&copy; 2024 Task Peer. Tüm hakları saklıdır.</p>
      </footer>
    </div>
  </body>
</html>